#(project
  (#(meta
     (#(name loise)
      #(description "A Noise-Generator for LFE")
      #(version "0.2.0")
      #(keywords ("LFE" "Lisp" "Library" "Utility" "Noise" "Perlin" "Simplex"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/loise")))))
   #(app
     (#(mod #(loise ()))))
